version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 2
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
    groups:
      npm-non-major:
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "cargo"
    directory: "/src-tauri"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 2
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
    groups:
      cargo-non-major:
        update-types:
          - "minor"
          - "patch"
