# Dependencies
node_modules/

# Build outputs
dist/
src-tauri/target/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example
!.env.sample
!.env.template

# Tauri
src-tauri/WixTools/
src-tauri/gen/
